{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-50">
        <div class="row h-50">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-green">
                    Donate Please
                </h1>
                <div class="my-5">
                    
                    <h4>
                        <a href="{% url 'donations' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Donate Here</a>
                    </h4>
                    
                </div>
                <div>
                    <h5 class="text-white bg-black align-text-top" >  We've been operating a foundation to support the local communities of Cape Town.<br><br>
                        From the generous donations given by you or products bought from this store are used to help.<br><br>
                        All products here have been made local businesses and co-operatives.
                    </h5>
                </div>
                <br><br><br><br>
            </div>
        </div>
    </div>


{% endblock %}
