/* Package Selection Cards */

.package-selection-page {
    margin: 20px -20px;
}

.package-card-wrap{
    padding: 10px;
}

.package-card {
    text-align: center;
    height: 100%;
}

.package-card .btn-wrap {
    min-height: 56px;
    margin-top: auto;
    display: flex;
}

.package-card .btn-wrap button{
    margin: auto;
    padding: 10px 15px;
}

.package-card .btn-wrap button.featured{
    margin: auto;
    padding: 20px 30px;
}

.package-card h3 {
    position: relative;
    width: max-content;
    margin: 0px auto;
    z-index: 2;
}

.package-card h3::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -2px;
    right: 0;
    border-bottom: 7px solid var(--primary-color);
    z-index: -1;
}

.package-card > .package-cost{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: -5px;
    padding-top: 10px;
}

.package-card > .package-cost > span,
.package-card > span{
    font-size: 14px;
    font-weight: 100;
}

.package-card > ul {
    text-align: left;
    padding: 0px 20px;
    max-width: 500px;
    margin: auto;
    margin-top: 0px;
}

.package-card > ul li {
    position: relative;
    display: flex;
    color: var(--light-text);
    font-weight: 100;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.package-card > ul li::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid var(--light-line);
    width: 50%;
    bottom: 0;
    left: 25%;
}

.package-card > ul li:last-of-type::after {
    position: absolute;
    content: "";
    border-bottom: none;
}

.package-card > ul li i {
    color: var(--primary-color-sub)!important;
    padding-right: 10px;
    padding-top: 4px;
}

/* User must register modal */
#must_register h3 {
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
}

#must_register > div {
    display: flex;
    height: 100%;
}

#must_register > div > div {
    margin: auto;
    height: max-content;
    border-radius: 20px;
}

/* Button jumbotron for visual effect */

/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
  }
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }
  
  /* Custom page footer */
  .footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
  }
  
  /* Customize container */
  @media (min-width: 48em) {
    .container {
      max-width: 46rem;
    }
  }
  .container-narrow > hr {
    margin: 2rem 0;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
  }
  .jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 3rem 0;
  }
  .marketing p + h4 {
    margin-top: 1.5rem;
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }