{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 centered">
                <h1 class="centering"> Four Ohhh Four!</h1>

                <a href="{% url 'home' %}" aria-label="view {{ product.name }}">Let's get back to the website</a>
            </div>
        </div>
    </div>


{% endblock %}
